*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header2{
    text-align: center;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    align-content: center;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    position: sticky;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
}

nav ul {
    list-style-type: none;
}

nav li{
    float: left;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}

nav > ul li:hover .sous{
    display: block;
}

.sous{
    display:none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom:none;
    background-color: green;
}

.sous li{
    float: none;
    position: sticky;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid gold;
}

.deroulant > a::after{
    content: "  ≡";
    font-size: 12px;
}