body {
	background-color: #505050;
}

.main_page {
	padding-top: 10px;
	width: 1420px;
	margin: 0 auto;
	position: relative;
}

header {
	background-color: #909090;
	height: 117px;
	padding-top: 10px;
	padding-bottom: 10px;
}

header img {
	margin:0;
	height: 100%;
}

.shadow {
	-moz-box-shadow: 10px 10px 5px 0px #656565;
	-webkit-box-shadow: 10px 10px 5px 0px #656565;
	-o-box-shadow: 10px 10px 5px 0px #656565;
   box-shadow: 8px 11px 8px 0 #000;
}

.shadow_text {
    text-shadow: 7px 7px 5px rgba(255, 77, 49, 1);
}

.radius {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

.right_header {
	float: right;
	position: relative;
	width: 286px;
}

.loupe {
    height: auto;
    margin-top: 2px;
}

.reload {
    float: right;
    height: auto;
    margin-right: 10px;
    width: 17px;
}

.close {
    bottom: 31px;
    height: auto;
    margin-right: 10px;
    position: absolute;
    right: 0;
    width: 17px;
}

.side_left {
	width: 105px;
	padding-left: 35px;
	height: 408px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.side_left img {
	width: 70px;
	margin-bottom: 10px;
}

.side_middle {
	margin-right: 30px;
	width: 1020px;
	margin-left: 30px;
	padding-bottom: 10px;
}

.side_right {
	width: 131px;
	height: 425px;
	padding-top: 20px;
	padding-left: 10px;
	text-align: center; 
}

.middle {
	margin-top: 20px;
	width: 100%;
	padding-left: 30px;
}
.middle .side {
	background-color: #909090;
	float: left;
}

.img_with_border {
	border: 5px solid red;
	border-radius: 5px;
}

.cluster {
	width: 1000px;
	margin-left: 10px;
	margin-top: 10px;
}

.book {
	height: 87px;
	width: 55px;
}

.towel {
	width: 78px;
	margin-top: 00px;
	margin-bottom: 00px;
}

.brick {
	background: repeat url('resources/brick.jpg');
	width: 120px;
	height: 70px;
}

.green_box {
	float: left;
	width: 510px;
	height: 170px;
	position: absolute;
	top: 665px;
	left: -42px;
	padding-left: 10px;
	background-color: #88FF89;
	font-family: Arial, Helvetica, sans-serif;
}

.green_box p {
	font-size: 17px;
    margin-bottom: 0;
	margin-top: 5px;
}

.big_text {
	font-size: 37px;
	font-family: 'Times New Roman', Times, serif;
}

.italic_text {
	font-size: 17pxt;
    font-style: italic;
}

.input_text {
	width: 380px;
}

.submit_button {
    border-radius: 2px;
    font-size: 12px;
    height: 19px;
    width: 80px;
}