tml { 
    font-size: calc(1em + 1vw);
    background: #787878;
}
body {
    margin: 0;
    padding: 0;
}
.divimg {
    overflow: hidden;
}
.divtitle{
    background-color:grey;
}
img {
    margin: -15.875% 0;
    display:block;
}
h1 {
    color: white;
    font-size: 5vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.periodic {
    position: relative;
    height: 20vw;
    margin-right: -1px;
    text-shadow: none;
}
.periodic-row {
    clear: both;
    height: 30%;
}
.cell {
    float: left;
    position: relative;
    width: 5.55%;
    height: 100%;
}
.element_number {
    bottom: 2%;
    left: 2%;
}
.element_name {
    margin: auto;
    margin-top: 40%;
    font-size: 1.8vw;
    color: rgba(255, 255, 255, 0.9);
}
.element {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 1%;
    right: 1%;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    border: 0.2em solid rgba(0, 0, 0, 0.05);
    text-align: center;
    cursor: default;
    pointer-events: none;
    background-color: rgba(0, 128, 128, 0.6);
}
.element_number,
.element_weight {
    position: absolute;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.5);
}
.element_weight {
    top: 1%;
    right: 1%;
}